<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irene Jiang's Portfolio Site</title>
</head>

<body>
    <header>
        <nav>
            <h1>Irene Jiang</h1>
            <a href="#">Header Link 1</a>
            <a href="#">Header Link 2</a>
            <a href="#">Header Link 3</a>
        </nav>
    </header>

    <div className="intro-container">
        <div>
            <h1>Welcome to my website</h1>
            <p>Currently working on getting express to host my pages.</p>
            <button type="button">Seriously bruh</button>
        </div>
        <div>
            <img src="../images/daniel-tran-PLUNHehQofQ-unsplash.jpg" alt="" style="width:500px;height:200px;">
        </div>
    </div>
    <div>
        <h1>Some Stuff about my Stuff</h1>
        <div class="card">
            <img src="#" alt="" style="width:200px;height:200px;">
            <caption>Subtext under the illustration</caption>
        </div>
        <div class="card">
            <img src="#" alt="" style="width:200px;height:200px;">
            <caption>Subtext under the illustration</caption>
        </div>
        <div class="card">
            <img src="#" alt="" style="width:200px;height:200px;">
            <caption>Subtext under the illustration</caption>
        </div>
        <div class="card">
            <img src="#" alt="" style="width:200px;height:200px;">
            <caption>Subtext under the illustration</caption>
        </div>
    </div>
    <div>
        <figure>
            <blockquote>Inspiring quote to remind myself to draw everyday >:).</blockquote>
            <figcaption>-Me, myself lol</figcaption>
        </figure>
    </div>
    <div>
        <div>
            <div>
                <h2>Call to action: Kepp learning!.</h2>
                <p>Another button to sign up with lol</p>
            </div>
            <div>
                <button type="button">Get up</button>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright @ Irene Jiang 2022</p>
    </footer>
</body>

</html>